body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header, section, footer {
    margin: 20px;
}

header {
    text-align: center;
}

@font-face {
  font-family: "Cooper Black";
  src: url("../MKratzok.github.io/Cooper Black Regular.ttf") format('truetype');
}

h1 {
    color: #2ecc71; /* Green color */
    font-family: "Cooper Black", serif;
    margin-bottom: 0;
}

h3 { 
    font-family: "Cooper Black", serif;
    letter-spacing: -1px;
    margin-top: 0;
    font-style: italic;
}

audio-stream, recent-playlists, past-interviews, upcoming-shows, contact-info {
    border-bottom: 2px solid #3498db; /* Blue color */
    padding-bottom: 20px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: #e74c3c; /* Red color */
    text-decoration: none;
}

footer {
    text-align: center;
    color: #7f8c8d; /* Gray color */
}
